# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Среда разработки (пример для VSCode)
.vscode/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы приложения
tasks.json  # если не хотите хранить историю задач в репозитории
